body {
    background: rgb(249, 153, 9);
}

main img {
    width: 300px;
    height: 300px;
}

.comment {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    }
    .author {
    margin-top: 0px;
    margin-bottom: 10px;
    }
    .date {
    color: silver;
    margin-top: 0px;
    margin-bottom: 10px;
    }
    #sub-comment {
    margin-left: 40px;
    }